.about {
    height: 80vh; 
    width: 100%; 
}

.about-container {
    margin: 0 2rem;
    padding: 3.5rem 200px 5rem 200px;
    letter-spacing: 2px;
    line-height: 2.3rem;
}

.about-title {
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-bottom: 2.5rem;
    /* color: #18ffff; */
}

.about-body {
    text-align: center;
    padding: 2rem 3rem;
    font-size: 1.3rem;
    border-radius: 25px;
}

.about-pOne {
    padding: 1rem 0;
}

.about-pTwo {
    padding: 1rem 0;
}

.about-tech {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    display: flex;
}

.about-tech-item {
    display: flex;
    justify-content: center;
    list-style-type: none;
}


.about-img {
    width: 45%;
} 

/* MEDIA QUERIES */

@media (max-width: 480px) {
    .about {
        height: auto;
    }

    .about-container {
        margin: 0 1rem;
        padding: 15px;
    }

    .about-body {
        padding: 1rem 1.4rem;
        font-size: 1.2rem;
    }

    .about-img {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .about {
        height: auto;
    }

    .about-container {
        padding: 25px;
    }
}

@media (max-width: 1024px) {
    .about {
        height: auto;
    }

    .about-container {
        padding: 12px 1rem;
    }
}

@media (min-width: 1281px) {
    .about {
        height: auto;
    }
}
