.about {
    height: 80vh; 
    width: 100%; 
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;
    padding: 3.5rem 150px 5rem 200px;
    letter-spacing: 2px;
    line-height: 2rem;
}

.about-title {
    font-size: 3rem;
    padding-left: 3.3rem;
    padding-bottom: 2.5rem;
    color: #18ffff;
}

.about-group {
    display: grid; 
    grid-template-columns: 2fr 2fr;  
    gap: 25px;
}

.about-body {
    padding: 2rem 3rem;
    font-size: 1.3rem;
    background-color: #7393B3;
    /* color: #000; */
    /* opacity: .7; */
    border-radius: 25px;
    border: 2px solid #000;
}

.about-pOne {
    padding: 1rem 0;
}

.about-pTwo {
    padding: 1rem 0;
}

.about-image {
    max-height: 450px;
}

.about-img {
    padding: 0 15%;
    height: 100%;
}
