.about {
    height: 80vh; 
    width: 100%; 
}

.about-container {
    margin: 0 2rem;
    padding: 3.5rem 200px 5rem 200px;
    letter-spacing: 2px;
    line-height: 2.3rem;
}

.about-title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding-left: 1rem;
    padding-bottom: 2.5rem;
    color: #18ffff;
}

.about-body {
    text-align: center;
    padding: 2rem 3rem;
    font-size: 1.3rem;
    background-color: #7393B3;
    border-radius: 25px;
    border: 2px solid #000;
}

.about-pOne {
    padding: 1rem 0;
}

.about-pTwo {
    padding: 1rem 0;
}

.about-tech-title {
    padding-top: 2rem;
    font-size: 2rem;
    color: #18ffff;
}

.about-tech {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    display: flex;
}

.about-tech-item {
    display: flex;
    justify-content: center;
    list-style-type: none;
}


.about-img {
    width: 45%;
}
