.primary {
    padding: 12px 26px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: bold;
}

