.primary {
    padding: 12px 26px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    letter-spacing: 2px;
    font-size: 1.5;
}

.btn-dark {
    background-color: #006064;
    border: 1px solid #fff;
    color: #fff;
}

.btn-dark:hover {
    opacity: .8;
}

.btn-light {

}