.card-container {
    width: 475px;
    height: 500px;
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #e0f2f1;
    border-radius: 15px;
    letter-spacing: 1px;
    padding: 2rem 1.75rem;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    overflow: auto;
}

.card-title {
    height: 25%;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}

.card-body {
    height: 45%;
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: flex-start;
    
}

.card-list {
    font-weight: bold;
    font-size: 1.1rem;
    padding: 1.3rem;
    text-align: center;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}

.card-icons {
    color: #e0f2f1;
    font-size: 2.5rem;
    width: 80%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}   

.card-icon-item {
    color:#e0f2f1 ;
}

.card-icon-item:hover {
    color: #000;
    transition: 0.4s ease;
    transform: scale(1.2);
}

@media (max-width: 480px) {
    .card-container {
        width: 350px;
        height: 500px;
    }
    
    .card-body {
        font-size: 1rem;
    }
}
