.card-container {
    width: 475px;
    height: 500px;
    background-color: #78909c;
    border: solid 1px #000;
    border-radius: 15px;
    letter-spacing: 1px;
    padding: 2rem 1.75rem;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    overflow: auto;
}

.card-title {
    height: 25%;
    font-size: 1.3rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}

.card-body {
    height: 45%;
    font-size: 1.1rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: flex-start;
    
}

.card-list {
    font-size: 1.1rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
}

.card-icons {
    color: #e0f2f1;
    font-size: 2.5rem;
    width: 80%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}   

.card-icons:hover {
    
  }
