.contact {
    height: 75vh;
    margin: 0 30rem;
    padding: 10rem 2rem;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    margin: 0 2rem;
    padding: 2.5rem 0 5rem 0;
    letter-spacing: 2px;
}

.contact-header {
    font-size: 4rem;
    font-weight: bold;
}

.contact-desc {
    padding: 2rem 0;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
}

.contact-icons {
    font-size: 5rem;
}

/* MEDIA QUERIES */

@media (max-width: 480px) {
    .contact {
        height: auto;
        margin: 0 2rem;
        padding: 5rem 1rem;
    }

    .contact-container {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .contact {
        margin: auto;
        padding: 5rem 1rem;
    }
}

@media (max-width: 1024px) {
  .contact {
    height: auto;
    margin:  0 2rem;
  }
}