.intro {
    height: 90vh;
}

.intro-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    min-height: 70vh;
    font-size: 1.5rem;
    margin: 0 2rem;
    padding: 2.5rem 0 5rem 0;
    /* color: #ccd6f6; */
}

.intro-intro {
    font-size: 3rem;
    text-align: left;
    padding-bottom: 1rem;
}

.intro-name {
    font-size: 5rem;
    padding-bottom: 1rem;
}

#dark .intro-name span {
    color: #18ffff;
}

.intro-desc {
    text-align: center;
    padding: 0 4rem 2rem 4rem;
    padding-bottom: 2rem;
}

.intro-btn {
    text-align: left;
}




