.intro {
    height: 82vh;
}

.intro-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin: 0 2rem;
    padding: 2.5rem 0 5rem 0;
    letter-spacing: 2px;
    /* color: #ccd6f6; */
    font-size: 3rem;
}

.intro-intro {
    text-align: left;
    padding-bottom: 1rem;
}

.intro-name {
    padding-bottom: 1rem;
}

#dark .intro-name span {
    font-size: 5rem;
    color: #18ffff;
    font-weight: bold;
}

.intro-desc {
    font-size: 2rem;
    text-align: center;
    margin: 0 4rem;
    padding: 0 4rem 0 4rem;
}




