.intro-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height:90vh;
    font-size: 1.5rem;
    padding-bottom: 4rem;
    
}

.intro-intro {
    font-size: 3rem;
    text-align: left;
}

.intro-name {
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

.intro-header {
    font-size: 2rem;
}

/* .intro-description {
    font-size: 1.5rem;
    background-color: #00A3A3;
    padding: 3rem 0;
    margin: 5rem;
    width: 50%;
} */
