.project {
    height: auto;
    width: 100%;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
}

.project-title {
    font-size: 3rem;
    padding-bottom: 2rem;
}

.project-list {
    font-size: 1.5rem;
    list-style-type: none;
    width: 80%;
    text-align: left;
}

.project-item {
    height: 50vh;
}
