.project {
    height: auto;
    width: 100%;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    letter-spacing: 2px;
}

.project-title {
    font-size: 3rem;
    padding-bottom: 2rem;
}

.project-list {
    display: flex;
    list-style-type: none;
}

.project-item {
    margin: 1rem;
}

/* Small Card Styles */




