.project {
    height: auto;
    width: 100%;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    /* color: #c62828; */
    letter-spacing: 2px;
}

.project-title {
    font-size: 3rem;
    padding-bottom: 2rem;
}

.project-list {
    display: flex;
    font-size: 1.5rem;
    list-style-type: none;
    color: #d32f2f;
}

.project-item {
    height: 50vh;
    width: 500px;
    margin: 1rem;
    border: 1px solid #d32f2f;
}
