.project {
    height: auto;
    width: 100%;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    letter-spacing: 2px;
}

.project-title {
    color: #18ffff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.project-list {
    display: flex;
    list-style-type: none;
}

.project-item {
    margin: 1rem;
}

/* Small Card Styles */

.small-cards {
    height: 120vh;
    width: 100%;
}

.small-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    letter-spacing: 2px;
}

.small-cards-title {
    color: #18ffff;
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.small-cards-list {
    list-style-type: none;
}

.small-card-group {
    display: flex;
}

.small-cards-item {
    height: 450px;
}

