.project {
    height: auto;
    width: 100%;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    letter-spacing: 2px;
}

.project-list {
    display: flex;
    list-style-type: none;
}

.project-item {
    margin: 1rem;
}

/* Small Card Styles */

.small-cards {
    height: auto;
    width: 100%;
}

.small-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    letter-spacing: 2px;
}

.small-cards-title {
    font-weight: bold;
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.small-cards-list {
    list-style-type: none;
}

.small-card-group {
    display: flex;
}

.small-cards-item {
    height: 450px;
}

/* MEDIA QUERIES */

@media (max-width: 480px) {
    .project-title {
        text-align: center;
    }

    .project-list {
        display: flex;
        flex-direction: column;
    }

    .small-card-group {
        display: flex;
        flex-direction: column;
    }
}