@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
  font-family: "Ubuntu", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#light {
  background-color: #fff;
}

#dark {
  background-color: black;
}

.navbar {
  height: 100%;
  width: 5%;
  position: absolute;
  left: 0;
  z-index: 999;
  border-right: 2px solid #006E33;
  z-index: 1;
}

#light .navbar {
  background-color: #fff;
}

#dark .navbar {
  background-color: #006E33;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.3rem;
  padding-top: 5rem;
}

.nav-item {
  padding: 2rem 0;
}

#light .nav-link {
  color: #000;
}

#dark .nav-link {
  color: #fff;
}




