@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@500&family=Roboto+Slab:wght@500&family=Roboto:wght@100&display=swap');

* {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar {
  width: 100%;
  z-index: 1;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
}

.nav-item { 
  display: flex;
  padding: 1.5rem 2rem;
}

#nav-icon:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.5);
}

.nav-toggle {
  margin: 4px 4px 0 4px;
}

.btn-link {
  padding-bottom: 1rem;
}

/* Toggle Button Styles */


/* 00FFFF Cards */

#light {
  background-color: #eeeeee;
  color: #000;
}

#dark {
  background-color: #272C33;
  color: #fff;
}

#light .navbar {
  background-color: #eeeeee;
}

#dark .navbar {
  background-color: #272C33;
}

#light .nav-link {
  color: #000;
}

#dark .nav-link {
  color: #fff;
}

/* Button Styles */

#dark .btn {
  background-color: #006064;
  border: 1px solid #fff;
  color: #fff;
}

.btn-dark:hover {
  opacity: .8;
}

#light .btn {
  background-color: #eeeeee;
  border: 1px solid #000;
  color: #000;
}




